<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-6 offset-lg">
        <h2 class="text-center mt-2 tex-white my-title">Resultado de Peso</h2>
    </div>

    <div class="w-50 mt-4 d-flex justify-content-center">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center rounded-3 text-style"
            [ngClass]="{'bg-warning-subtle': state==='W', 'bg-success-subtle': state==='G', 'bg-danger-subtle': state==='D'}"
            >
            <h3 class="fw-bolder my-4"
                [ngClass]="{'text-warning': state==='W', 'text-success': state==='G', 'text-danger': state==='D'}">
                {{ title }}
            </h3>
            <p class="number-result">{{ BMI }}</p>
            <p>{{ interpretation }}</p>
        </div>
    </div>

    <div class="w-50 mt-4 d-flex justify-content-center">
        <button class="w-100 btn btn-calcular btn-secondary" type="button"
           routerLink="">
            Volver a calcular
        </button>
    </div>
</div>